In [107]:
#Handling Missing Values in TITANIC DATASET using Droprows
import pandas as pd

#loading the Dataset
titanic = pd.read_csv("Titanic-Dataset.csv")
titanic.dropna(inplace = True)
#print(titanic.head())
print(titanic.Age)

1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: Age, Length: 183, dtype: float64

In [109]:
#Here is a Python script using pandas to remove duplicates from a dataset named "adult.csv":

import pandas as pd

# Load the dataset
df = pd.read_csv("adult.csv")

#Specify the Particular Column to remove Duplicates
col_name = input("Enter Column Name with Duplicates: ")# Input should be ColNames with Numrical Values(e.g age). Input was for interactivity with the Program


#df = df.drop_duplicates(subset = [col_name], inplace = True)

# Remove duplicates in specified column and store results in new DataFrame
clean_data = df.drop_duplicates(subset = [col_name])




# Save the cleaned dataset
clean_data.to_csv("clean_data_adult.csv", index=False)
print("Cleaned: newDataFrame saved...")

Enter Column Name with Duplicates:  education.num

Cleaned: newDataFrame saved...

In [72]:
#Converting DataTypes in AB_NYC_2019 DATASET (RealEstate DataSet)

import pandas as pd

#loading the Dataset
real = pd.read_csv("AB_NYC_2019.csv")
#Creating a loop for  converting multiple Columns
EntryList = []
conv = int(input("How many Columns do you want to convert: "))
for i in range(conv):  # write the function to perform the operation on the list of columns
    entry = input(f"Enter Column(s) name#{i+1}: ")
    EntryList.append(entry)

print(EntryList)
# printing all the Columns in the DataSet
#cols = realEs.columns.tolist()
#print(cols)
'''AVAILABLE COLUMNS['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 
 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']'''
real[EntryList] = real[EntryList].apply(pd.to_numeric)
morph = real[EntryList]
print(morph.dtypes)
#Omo I don tire :(
#print(realEstate.head())

How many Columns do you want to convert:  1
Enter Column(s) name#1:  id

['id']
id    int64
dtype: object

In [115]:
#Handlinig Categorical Variables using LabelEncoding
'''So basically, we encode specific catergorical variables so as to make them meaningful to the ML module and useful for calculations'''
#Lets Code.....
from sklearn.preprocessing import LabelEncoder
import pandas as pd
#loading dataset
titan = pd.read_csv("Titanic-Dataset.csv")
#Calling the right columns
titan_columns =["Sex", "Cabin", "Embarked"]
#load label encoder
le = LabelEncoder()
#Label encoder looping through our container
for col in titan_columns:
    titan[col] = le.fit_transform(titan[col].astype(str))
print(titan.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare  Cabin  Embarked
0         A/5 21171   7.2500    147         2
1          PC 17599  71.2833     81         0
2  STON/O2. 3101282   7.9250    147         2
3            113803  53.1000     55         2
4            373450   8.0500    147         2

In [ ]:
#Scaling Numerical Values Using TITANIC DATASET

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

#loading the Dataset (the encoded dataset)
titanic = pd.read_csv("titanic_encoded.csv")
#Assign our target columns

'''Available columns
['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 
'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']
'''

EntryList = []
conv = int(input("How many Columns do you want to Scale(Numeric columns only): "))
''' add columns that don't have binary vaues or categorical values. 
Try using cols like long. and lat., id or host_id. That should help'''
for i in range(conv):  # write the function to perform the operation on the list of columns
    entry = input(f"Enter Column(s) name #{i+1}: ")
    EntryList.append(entry)
    
#Let's try converting this to a numpy array
EntryList = np.array(EntryList)
print(EntryList)
numeric_cols = EntryList
# print(numeric_cols)
# Let's scale using scaler object
scaler = StandardScaler()
titanic[numeric_cols] = scaler.fit_transform(titanic[numeric_cols])
# #view the scaled dataset
print(titanic.head())

#print(titanic.head())